@inject IWebAssemblyHostEnvironment hostEnv
@inject IConfiguration configuration

@{
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>Thesis.WebUI</title>
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="Thesis.WebUI.Client.styles.css" rel="stylesheet" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />

    var mapboxgl = @configuration["osm_server_base_uri"] + "/mapbox-gl.css";
    var mapbox = @configuration["osm_server_base_uri"] + "/mapbox.css";
    <link rel="stylesheet" type="text/css" href="@mapboxgl">
    <link rel="stylesheet" type="text/css" href="@mapbox">

}


